<!DOCTYPE html>
<html>
<head>

<!-- metadata goes in head -->
	<title>To Do List</title>
	<script type="text/javascript" src="/assets/js/lib/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/todos.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>

<div id="container">

<h1>To Do List<i id="plus" class="fas fa-plus-square"></i></h1>
    <input type="text" name="todo" placeholder="Add New To do"> </i>
<ul>
	<% data.forEach(function(item){ %>
		<li id="<%=item.id%>" class=
			<%= console.log(item.completed) %>
			<% if (item.completed===true){ %>
					"completed"
				<% } else { %>
					""
				<% } %> 
			>
			
			<i id ="tickbox" class=
				<% if (item.completed===true){ %>
					"far fa-check-square"
				<% } else { %>
					"far fa-square"
				<% } %> ></i>
			
			<%= item.task %>
			<span class="icon trash" id="<%=item.id%>">
				<i id="trash" class="far fa-trash-alt"></i>
			</span>
		</li>		
	<% }) %> 
</ul>

</div>



<script type="text/javascript" src="/assets/js/todos.js"></script>
</body>
</html>